<div class="bottom-nav">
    <a href="/contact" class="nav-item {{NAV_ACTIVE_CHAT}}">
        {{ICON_CHAT}}
        <span>Chat</span>
    </a>
    <a href="/history" class="nav-item {{NAV_ACTIVE_HISTORY}}">
        {{ICON_HISTORY}}
        <span>Riwayat</span>
    </a>
    <a href="/assets" class="nav-item {{NAV_ACTIVE_ASSETS}}">
        {{ICON_WALLET}}
        <span>Aset</span>
    </a>
    <a href="/cart" class="nav-item {{NAV_ACTIVE_CART}}">
        {{ICON_CART}}
        <span>Keranjang</span>
        <div id="cartBadgeNav" class="cart-badge-nav" style="display:none">0</div>
    </a>
    <a href="/" class="nav-item {{NAV_ACTIVE_HOME}}">
        {{ICON_BAG}}
        <span>Belanja</span>
    </a>
    <a href="/profile" class="nav-item {{NAV_ACTIVE_PROFILE}}">
        {{ICON_USER}}
        <span>Saya</span>
    </a>
</div>
